<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hfax.ucard">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.GET_TASKS"
        tools:node="remove" />

    <!-- 同盾 必选权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--growingIo 非危险权限，不需要运行时请求，Manifest文件中添加即可-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->

    <application
        android:name=".modules.entrance.UCardApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:theme">
        <meta-data
            android:name="com.hfax.ucard.utils.glide.UCardGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            tools:node="remove" />
        <meta-data
            android:name="BUGLY_APP_ID"
            android:value="${BUGLY_APP_ID}" />
        <meta-data
            android:name="PARTNER_CODE"
            android:value="hjs" />
        <!--程序入口-->
        <activity
            android:name=".modules.entrance.StartActivity"
            android:theme="@style/ThemeStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--外部打开本应用的intent-filter配置-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--scheme 允许在浏览器中打开-->
                <category android:name="android.intent.category.BROWSABLE" />
                <!--scheme 相关信息配置-->
                <data
                    android:host="ucard.hfax.com"
                    android:scheme="hfax" />
            </intent-filter>
            <!--神策-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<data-->
            <!--android:host="heatmap"-->
            <!--android:scheme="${GETUI_APP_SCHEME}" />-->
            <!--</intent-filter>-->
        </activity>
        <!--首页-->
        <activity
            android:name=".modules.home.MainActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--登录-->
        <activity
            android:name=".modules.user.LoginByPwdActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--debug模式下测试专用配置-->
        <activity
            android:name=".modules.debug.HostSettingActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--引导页界面-->
        <activity
            android:name=".modules.entrance.GuideActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--登录引导页面-->
        <activity
            android:name=".modules.user.LoginActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="adjustResize" />
        <!--注册页面-->
        <activity
            android:name=".modules.user.RegisterActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!--忘记密码页面-->
        <activity
            android:name=".modules.user.ForgetLoginPwdActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!--修改密码界面-->
        <activity
            android:name=".modules.user.ModifyLoginPwdActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!--忘记服务密码界面-->
        <!--运营商授权界面-->
        <!--其它授权界面-->
        <!--身份认证界面-->
        <activity
            android:name=".modules.loan.FaceActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--身份认证界面-->
        <activity
            android:name=".modules.loan.AuthorizeActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--身份认证界面-->
        <activity
            android:name=".modules.loan.PersonInfoActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--借款确认-->
        <activity
            android:name=".modules.loan.LoanActivity"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!--个人中心界面-->
        <activity
            android:name=".modules.user.PersonalCenterActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--实名认证界面-->
        <activity
            android:name=".modules.user.RealNameAuthenticationActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--我的银行卡-->
        <activity
            android:name=".modules.user.MyBankCardActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--添加银行卡-->
        <activity
            android:name=".modules.user.AddBankCardActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--选择银行卡-->
        <activity
            android:name=".modules.user.BankCardSelectActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--我的借款-->
        <activity
            android:name=".modules.borrow.MyBorrowMoneyActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--详情页-->
        <activity
            android:name=".modules.borrow.BorrowDetailsActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />

        <!--实名认证扫描-->
        <activity
            android:name=".modules.loan.CertificationActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--状态-->
        <activity
            android:name=".modules.loan.StatusActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <!--简单的FragmentActivity-->
        <activity
            android:name=".base.MyFragmentActivity"
            android:label="@string/app_name"
            android:theme="@style/commonActivityStyle" />
        <!--简单的FragmentActivity-->
        <activity
            android:name=".base.MyFragmentActivity2"
            android:label="@string/app_name"
            android:theme="@style/commonActivityStyle" />


        <!--个推-->
        <service
            android:name=".modules.getui.GetuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"></service>
        <service android:name=".modules.getui.GetuiIntentService" />
        <!--存管专用H5-->
        <activity
            android:name="com.hfax.app.h5.H5DepositActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
        <activity
            android:name="com.hfax.app.h5.H5Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.hfax.app.h5.MaintenanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/commonActivityStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:exported="false"
            android:theme="@style/PhotoPickerTheme" />
        <!-- 优惠券 -->
        <activity
            android:name=".modules.user.CouponActivity"
            android:exported="false"
            android:theme="@style/commonActivityStyle" />
    </application>
</manifest>